body{
    background-color: aquamarine;
    text-align: center;
}

.container{
    background-color: aquamarine;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    background-color: aqua;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(o,0,0,0.3);
    font-size: 8vmin;
    color: crimson;
}

#resBtn{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    color: white;
    background-color: black;
}

#newBtn{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    color: white;
    background-color: black;
}

#msg{
    color: white;
    font-size: 5vmin;
}

.winner{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}